/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');


/* Variables */
:root{
    --primary-color: #e02c6d;
}

/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Utilities */
.container{
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;
}


h1{
    font-size: 60px;
    font-weight: 700;
}

h2{
    font-size: 44px;
    font-weight: 700;
}

h3{
    font-size: 24px;
    font-weight: 700;
}

a{
    text-decoration: none;
    color: #000;
}


.button{
    display: inline-block;
    background: var(--primary-color);
    color: #fff;
    padding: 10px 24px;
    transition: background .3s ease-in-out;
}

.button:hover{
    background: #c72762;
}

.button i{
    margin-right: 5px;
}

.fas{
    font-size: 16px;
}

body{
    font-family: 'Poppins', sans-serif;
}



/* Header Section */

header{
    background: #2d25a0;
    padding: 42px 0;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

ul.navbar{
    display: flex;
    list-style: none;
}

ul.navbar li{
    margin-right: 15px;
}

ul.navbar li a{
    padding: 5px 13px;
    color: #fff;
    transition: background .3s ease-in-out;
}


ul.navbar li:hover a{
    background: rgba(255, 255, 255, 0.151);
}

.showcase{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    margin: 50px 0;
}

.showcase .image{
    width: 550px;
    height: auto;
    animation: banneranmtn .7s ease-out;
}



.showcase .image img{
    width: 100%;
}

.showcase h1{
    margin-bottom: 10px;
}


/* Players Showcase Section */

#players-showcase{
    padding: 42px 0;
}

.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 30px;
}

.player{
    padding: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.11);
}

.player img{
    width: 100%;
    height: auto;
}

.player p{
    padding: 10px 0;
}


/* Highlights Section */

#hightlights{
    padding: 84px 0;
}

#hightlights .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#hightlights .button{
    margin-top: 15px;
}

#hightlights .info,
#hightlights .image{
    width: 48%;
}

#hightlights .image img{
    width: 100%;
    height: auto;
    animation: hightlightsMatch .7s ease-out;
}


/*  News Section */
#news{
    margin-bottom: 84px;
}

#news .container > h3{
    display: inline-block;
    margin-bottom: 20px;
    border-bottom: 4px solid var(--primary-color);
}

.single-news{
    display: flex;
    align-items: center;
    padding: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.11);
}

.single-news img{
    margin-right: 20px;
    height: 120px;
}

.news-showcase{
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
}



/* Newsletter Section */
#newsletter{
    background: var(--primary-color);
    padding: 84px 0;
}

#newsletter .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#newsletter .container h3{
    margin-bottom: 20px;
    color: #fff;
}

#newsletter .container form{
    display: flex;
    align-items: center;
}

#newsletter input{
    border: none;
    padding: 15px 10px;
    border-radius: 0;
    margin-right: 5px;
    outline: none;
    
}

#newsletter .button{
    background: #fff;
    color: var(--primary-color);
}


/* Footer Section */
#footer{
    margin: 42px 0;
}

#footer .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer .logo img{
    height: 100px;
}


#footer .social{
    display: flex;
    margin: 10px 0;
    justify-content: center;
    align-items: center;
}

#footer .social a{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    background-color: #e7e7e8;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

#footer .fab{
    color: #969bab;
}






/* Animation */

@keyframes banneranmtn{
    from{
        transform: scale(0, 0);
    }
    to{
        transform: scale(1, 1);
    }
}

@keyframes hightlightsMatch{
    from{
        transform: scale(0, 0);
    }
    to{
        transform: scale(1, 1);
    }
}


/* Media Query */

/* For Mobile Device */
@media only screen and (max-width: 767px) {
    h1{
        font-size: 50px;
    }
    header{
        height: 
    }
    header nav {
        display: none;
    }

    .showcase{
        flex-direction: column;
        margin: 0;
        align-items: flex-start;
    }

    .showcase .image{
        width: 80%;
        margin-top: 45px;
        align-self: center;
    }

    .players{
        grid-template-columns: 1fr;
    }
    #hightlights .container{
        flex-direction: column;
    }
    #hightlights .info, #hightlights .image{
        width: 100%;
    }
    #hightlights .info{
        margin-bottom: 20px;
    }

    .single-news{
        flex-direction: column;
        justify-content: center;
    }

    .single-news img{
        width: 100%;
        height: 100%;
        margin: 0;
    }
    #newsletter .container form{
        flex-direction: column;
    }

    #newsletter h3{
        text-align: center;
    }

    #newsletter .container form input{
        margin-bottom: 10px;
    }

    #footer .logo img{
        height: 80px;
    }
}